.git
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/node_modules
/yarn-error.log
/storage/**/*
!/storage/.keep
.passenger
.config
public/assets
public/dist
public/uploads
/config/master.key
docker/elasticsearch
docker/mysql
docker/redis
.byebug_history
.env
.env.local
.DS_Store
.docker-sync
.gitlab-ci.yml

