<div class="container">
	<div class="row">
		<div class="col">
			<div class="jumbotron mt-5 mb-5">
				<h1>Hello world</h1>
				<p>This is the paragraph tag</p>
			</div>
		</div>
	</div>
	<div class="row" data-baz="maz">
		<div class="col" data-foo="bar">
			<a href="#" class="btn btn-warning" data-reflex-dataset="combined" data-reflex="click->ExampleReflex#increment" data-step="1" data-count="<%= @count.to_i %>">Increment <%= @count.to_i %></a>
		</div>
	</div>
</div>
