<%= form_with model: todo, local: true, html: { class: "form", data: { reflex: "submit->todos#create" } } do |f| %>
  <div class="form-group">
	  <div class="input-group mb-3">
	    <%= f.text_field :description, class: "form-control #{ 'is-invalid' if f.errors?(:description) }", id: "create-todo", placeholder: "Todo Description" %>
	    <div class="input-group-append">
	      <%= f.button "Create todo", class: "btn btn-primary" %>
	    </div>

	  	<%= f.errors_for :description %>
	  </div>
  </div>
<% end %>
