<div class="container">
	<div class="row">
		<div class="col">
			<p id="notice"><%= notice %></p>

			<div class="row">
				<div class="col-12 mt-5 mb-5">
					<%= render 'form', todo: @todo %>
				</div>
			</div>

			<div class="row">
				<div class="col-12 mb-3">
					<h4>Your Todos</h4>
				</div>

				<div class="col-12" data-controller="drag" data-drag-url="/todos/:id/move">
			  	<% if @todos.incomplete.any? %>
			    	<% @todos.incomplete.positioned.each do |todo| %>
			    	  <%= render "todo", todo: todo %>
			    	<% end %>
			    <% end %>
				</div>

				<% if @todos.complete.any? %>
					<div class="col-12 mt-3">
						<hr class="dashed mb-3" />
					</div>

					<div class="col-12">
						<% @todos.complete.alphabetical.each do |todo| %>
						  <%= render "todo", todo: todo %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
