// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.input-group > .input-group-append:not(:last-child) > .btn {
  border-top-right-radius:  0.25rem;
  border-bottom-right-radius:  0.25rem;
}

.table th, .table td {
  border-top: 0;
}

hr.dashed {
  border-top: dashed 1px;
  border-color: #ddd;
}
